{% extends 'layouts/barebone.njk' %}
{% import 'macros.njk' as macros %}

{% block _stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="/css/app.css">
    {% block stylesheets %}{% endblock %}
{% endblock %}
{% block _scripts %}
    {{ super() }}
    {% block scripts %}{% endblock %}
{% endblock %}

{% block header %}
    <a href="/" class="logo"><img src="/img/logo.svg" alt="Logo"> {{ app.name }}</a>
    <nav>
        <button id="menu-button"><i data-feather="menu"></i></button>
        <ul id="main-menu">
            <li><a href="{{ app.webmail_url }}" target="_blank"><i data-feather="mail"></i> <span class="tip">Webmail</span></a></li>
{#            <li><a href="{{ route('about') }}"><i data-feather="info"></i> <span class="tip">About</span></a></li>#}
            {% if user %}
                {% if user.is_admin %}
                    <li><a href="{{ route('backend') }}"><i data-feather="settings"></i> <span class="tip">Backend</span></a></li>
                {% endif %}

                <li><a href="{{ route('account') }}"><i data-feather="user"></i>
                        <span class="tip">{{ user.name }}</span></a></li>
                <li>
                    <form action="{{ route('logout') }}" method="POST">
                        <button><i data-feather="log-out"></i> <span class="tip">Logout</span></button>
                        {{ macros.csrf(getCsrfToken) }}
                    </form>
                </li>
            {% else %}
                <li><a href="{{ route('auth') }}"><i data-feather="log-in"></i> <span class="tip">Login</span></a></li>
                <li><a href="{{ route('register') }}"><i data-feather="user-plus"></i>
                        <span class="tip">Register</span></a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block _body %}
    <div class="container">
        {{ macros.messages(flash) }}
    </div>

    <main>
        {% if h1 %}
            <h1>{{ h1 }}</h1>
        {% endif %}
        {% if subtitle %}
            <p>{{ subtitle }}</p>
        {% endif %}

        {% block body %}{% endblock %}
    </main>
{% endblock %}

{% block footer %}{{ app.name }} v{{ app_version }} - all rights reserved.{% endblock %}
