$primary: darken(#333333, 2%);
$primaryForeground: #f0f0f0;
$secondary: #00c3ff;
$secondaryForeground: $primaryForeground;

$backgroundColor: darken($primary, 4%);
$defaultTextColor: #ffffff;

$headerBackground: darken($primary, 7.5%);
$footerBackground: lighten($headerBackground, 1%);
$panelBackground: lighten($headerBackground, 1%);
$inputBackground: darken($panelBackground, 4%);

$info: #4499ff;
$infoText: darken($info, 42%);
$infoColor: desaturate($infoText, 50%);

$success: #55ff55;
$successText: darken($success, 45%);
$successColor: desaturate($successText, 50%);

$warning: #ffcc00;
$warningText: darken($warning, 30%);
$warningColor: desaturate($warningText, 50%);

$error: #ff0000;
$errorText: darken($error, 30%);
$errorColor: desaturate($errorText, 50%);

// Responsivity
$mobileThreshold: 632px;
