{% extends 'layouts/base.njk' %}

{% set title = app.name + ': it\'s not just emails' %}

{% block body %}
    <div class="container">
        <h1>{{ title }}</h1>

        <section class="panel">
            <h2><i data-feather="help-circle"></i> What is Rainbox Email?</h2>
            <p>Rainbox Email is a <abbr title="Free and Open Source Software">FOSS</abbr> service that allows anyone to
                manage an <abbr title="Internet Service Provider">ISP</abbr>-like mail database.</p>
            <p>You can find the source code on
                <a href="https://gitlab.com/ArisuOngaku/rainbox.email" target="_blank">GitLab</a>.</p>

            {{ macros.message('info', '<a href="' + instance_url + '">' + instance_url + '</a> is just one instance of ' + app.name, true, true) }}
        </section>

        <section class="panel">
            <h2><i data-feather="settings"></i> Available authentication mechanisms</h2>
            <ul>
                <li>Internal (shared database)</li>
                <li>Integrated LDAP server</li>
            </ul>
        </section>

        <section class="panel">
            <h2><i data-feather="link"></i> Useful resources</h2>

            <ul>
                <li><a href="https://workaround.org/ispmail/buster/" target="_blank">ISP mail guide</a> to setup your own mail server</li>
            </ul>
        </section>
    </div>
{% endblock %}
