{% extends 'layouts/base.njk' %}

{% set title = 'Example App - Hello world!' %}

{% block body %}
    <h1>Login</h1>

    <div class="container">
        <div class="panel center">
            <form action="{{ route('auth') }}" method="POST">
                {{ macros.field(_locals, 'text', 'username', null, 'Your username', null, 'required') }}
                {{ macros.field(_locals, 'password', 'password', null, 'Your password', null, 'required') }}

                <button type="submit"><i data-feather="log-in"></i> Login</button>

                {{ macros.csrf(getCsrfToken) }}
            </form>

            <p>
                <a href="{{ route('register') }}">I don't have an account</a>
            </p>
        </div>
    </div>
{% endblock %}
