<?xml version="1.0"?>
<clientConfig version="1.1">
    <emailProvider id="{{ host_domain }}">
        {% for domain in domains %}
            <domain>{{ domain.name }}</domain>
        {% endfor %}

        <displayName>{{ display_name }}</displayName>
        <displayShortName>{{ display_name_short }}</displayShortName>

        <incomingServer type="imap">
            <hostname>{{ imap.server }}</hostname>
            <port>{{ imap.port }}</port>
            <socketType>{{ imap.method }}</socketType>
            <username>{{ username }}</username>
            <authentication>{{ auth_method }}</authentication>
        </incomingServer>

        <incomingServer type="pop3">
            <hostname>{{ pop3.server }}</hostname>
            <port>{{ pop3.port }}</port>
            <socketType>{{ pop3.method }}</socketType>
            <username>{{ username }}</username>
            <authentication>{{ auth_method }}</authentication>
        </incomingServer>

        <outgoingServer type="smtp">
            <hostname>{{ smtp.server }}</hostname>
            <port>{{ smtp.port }}</port>
            <socketType>{{ smtp.method }}</socketType>
            <username>{{ username }}</username>
            <authentication>{{ auth_method }}</authentication>
        </outgoingServer>
    </emailProvider>
</clientConfig>
