{% extends 'mails/base_layout.mjml.njk' %}

{% block body %}
    <mj-section>
        <mj-column>
            <mj-text mj-class="title">
                Add this email as recovery for {{ app.name }}
            </mj-text>
            <mj-text>
                Someone wants to add <strong>{{ mail_to }}</strong> as a recovery email to their account.
                <br><br>
                <strong>Do not click on this if this is not you!</strong>
            </mj-text>

            <mj-button href="{{ link | safe }}">
                Add as recovery email
            </mj-button>
        </mj-column>
    </mj-section>
{% endblock %}

{% block text %}
    Hi!
    Someone wants to add {{ mail_to }} as a recovery email to their account.

    To add it as a recovery email, please follow this link: {{ link|safe }}
{% endblock %}