{% extends 'layouts/base.njk' %}

{% set title = app.name + ' - Backend' %}

{% block body %}
    <div class="container">
        {{ macros.breadcrumb('Mailboxes', [
            {title: 'Backend', link: route('backend')}
        ]) }}

        <h1>Mailbox manager</h1>

        <section class="panel">
            <h2><i data-feather="globe"></i> Domains</h2>

            <form action="{{ route('backend-add-domain') }}" method="POST" class="sub-panel">
                <h3>Add domain</h3>
                {{ macros.field(_locals, 'text', 'name', null, 'Domain name', null, 'required') }}

                {{ macros.field(_locals, 'select', 'user_id', undefined, 'Owner', null, 'required', users) }}

                <button><i data-feather="plus"></i> Add domain</button>

                {{ macros.csrf(getCsrfToken) }}
            </form>

            <table class="data-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Owner</th>
                    <th>Identities</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for domain in domains %}
                    <tr>
                        <td>{{ domain.id }}</td>
                        <td>{{ domain.name }}</td>
                        <td>{{ domain.owner_name | default('Public') }}</td>
                        <td>{{ domain.identity_count }}</td>
                        <td class="actions">
                            <a href="{{ route('backend-edit-domain', domain.id) }}" class="button">
                                <i data-feather="edit-2"></i> <span class="tip">Edit</span>
                            </a>

                            <form action="{{ route('backend-remove-domain') }}" method="POST">
                                <input type="hidden" name="id" value="{{ domain.id }}">

                                <button class="danger"
                                        onclick="return confirm('Are you sure you want to delete {{ domain.name }}?')">
                                    <i data-feather="trash"></i> <span class="tip">Remove</span>
                                </button>

                                {{ macros.csrf(getCsrfToken) }}
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>

        <section class="panel">
            <h2><i data-feather="mail"></i> Mailboxes</h2>

            <table class="data-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>User name</th>
                    <th>Name</th>
                    <th>Identities</th>
                    <th>Owned domains</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for box in mailboxes %}
                    <tr>
                        <td>{{ box.id }}</td>
                        <td>{{ box.username }}</td>
                        <td>{{ box.name }}</td>
                        <td>{{ box.identity_count }}</td>
                        <td>{{ box.domain_count }}</td>
                        <td class="actions">
                            <a href="{{ route('backend-mailbox', box.id) }}" class="button">
                                <i data-feather="edit-2"></i> <span class="tip">Edit</span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}
