{% extends 'layouts/base.njk' %}

{% set title = app.name + ' - Backend' %}

{% block body %}
    <div class="container">
        {{ macros.breadcrumb('Mail domain: ' + domain.name, [
            {title: 'Backend', link: route('backend')},
            {title: 'Mailboxes', link: route('backend-mailboxes')}
        ]) }}

        <div class="panel">
            <i data-feather="globe"></i>
            <h1>Mail domain: {{ domain.name }}</h1>

            <form action="{{ route('backend-edit-domain', domain.id) }}" method="POST">
                {{ macros.field(_locals, 'select', 'user_id', domain.user_id, 'Owner', null, 'required', users) }}

                <button><i data-feather="check"></i> Update</button>

                {{ macros.csrf(getCsrfToken) }}
            </form>
        </div>
    </div>
{% endblock %}
