{% extends 'layouts/base.njk' %}

{% set title = app.name + ' - Backend' %}

{% block body %}
    <div class="container">
        {{ macros.breadcrumb('Users', [
            {title: 'Backend', link: route('backend')}
        ]) }}

        <h1>Accounts manager</h1>

        <section class="panel">
            <h2><i data-feather="user"></i> Accounts</h2>

            <table class="data-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for account in accounts %}
                    <tr>
                        <td>{{ account.id }}</td>
                        <td>{{ account.name }}</td>
                        <td>{{ account.mainEmail.getOrFail().email | default('-') }}</td>
                        <td class="actions">
                            <a href="{{ route('backend-change-user-password', account.id) }}" class="button">
                                <i data-feather="key"></i> <span class="tip">Change password</span>
                            </a>

                            <a href="{{ route('backend-mailbox', account.id) }}" class="button">
                                <i data-feather="mail"></i> <span class="tip">Edit mailbox</span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}
