{% extends 'layouts/base.njk' %}

{% set title = app.name + ' - Backend' %}

{% block body %}
    <div class="container">
        {{ macros.breadcrumb('Change ' + user.name + '\'s password', [
            {title: 'Backend', link: route('backend')},
            {title: 'Users', link: route('backend-list-users')}
        ]) }}

        <h1>Accounts manager</h1>

        <section class="panel">
            <h2><i data-feather="key"></i> Change {{ user.name }}'s password</h2>

            <form action="{{ route('backend-change-user-password', user.id) }}" method="POST">
                {{ macros.field(_locals, 'password', 'new_password', null, 'New password') }}
                {{ macros.field(_locals, 'password', 'new_password_confirmation', null, 'New password confirmation') }}

                <button type="submit"><i data-feather="save"></i> Save</button>

                {{ macros.csrf(getCsrfToken) }}
            </form>
        </section>
    </div>
{% endblock %}
